@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/*Mapa*/
.mapaDesktop iframe {
  display: none;
    width: 50%;
    height: 190px;
    margin-left: 600px;
    margin-top: -30px;

}
/*Mapa*/

.hideConditionalFinder{
  display: none ;
}
.showConditionalFinder{
  display: flex;
  width: 100%;
  align-items: center;
  display: none;
  height: 80px;
  position: relative;
}
.hideFiltro{
  margin-top: -8000px;
 }
 .showFiltro{
   margin-top: 80px;
 }
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.headerFinder{
  background-color: rgb(91, 33, 165);
  justify-content: center;
  align-items: center center;
  display: flex;
}

.separador{
  grid-area: separador;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}


.filtros-list{
  margin-left: 5%;
  padding-top: 2px;
  transition: 250ms;
}
.filtro ul li img{ 
  width: 30px;
}


.categoriadesplegable{
  font-size:25px;
  color: #08FF0D;
}
.marcadesplegable{
  font-size:25px;
  color: #08FF0D;
}

.categoria{
  color: #ccc;
}

.marca{
  color: #ccc;
}


.headersecundario{
  width: 100%;
  height: 15px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #08FF00;
}

.logo img{
  border-image: none;
  background-color: transparent;
  height: 60px ;
  cursor: pointer;
}
.imagenHamburguesa{
  height: 38px;
  width: 38px;
  cursor: pointer;
}
.imagenhamburguesacerrar{
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: none;
}
.imagenUsuario{
  height: 38px;
  width: 38px;
  position: absolute;
  margin-left :260px;
  cursor: pointer;
}

.imagenBuscador{
  height: 38px;
  width: 38px;

  cursor: pointer;
}

.buscadordesplegable{
  position: absolute;
  height: 314px;
  margin-top: -8000px; /*-800px*/
  background-color: #ffffff;
  z-index: 1;
  display: grid;
  transition: 250ms;
}

.historialdesplegable{
  position: absolute;
  width: 100%;
  height: 314px;
  margin-top: -8000px;
  background-color: #ffffff;
  z-index: 1;
  display: grid;
  transition: 250ms;
}
.cerrarDesplegableHistorial{
  display: none;
  height: 43px;
  width: 43px;
  cursor: absolute;
}


.imagenCarrito{
  height: 38px;
  width: 38px;
  position: relative;
  cursor: pointer;
}

.carritodesplegable{
  position: absolute;
  margin-top: -800px;
  z-index: 1;
  width: 100%;
  height: 300px;
  display: grid;
  background-color: #ffffff;
  transition: 250ms;
}

.carritodesplegable .fondoContenedor{
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: red ;
  z-index: 10;
}

.cerrarDesplegable{
  display: none;
  height: 43px;
  width: 43px;

  cursor: pointer;
}

.BuscadorDiv{
  width: 100%;
  align-items: center;
  display: none;
  height: 80px;
  position: relative;

}

.buscador-input{
  align-self: center center;
  height: 40%;
  width: 100%;
  border-radius: 50px;
  border-color: #28FF0D;
}
.imagenBuscadorInput{
  z-index: 1;
  position: absolute;
  margin-left: 1vh;
  height: 38px;
}
.flechabuscador{
  display: flex;
  z-index: 1;
  height: 45px;
  width: 45px;
}

.logobanner{
  justify-content: center;
  align-items: center;
}

.maincontainer {
  grid-area: maincontainer;
  padding-top: 15px;
  background-color: #f6f6f6;
  cursor: pointer;
  width: 100%;
  display: block;
}

.footer{
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #707070;
  width: 100%;
}

.footer div{
position: absolute;
color: #28FF0D;
margin-left: 250px;
margin-top: 33px;
}

.logoubicacion{
  display: flex;
  width: 38px;
  height: 38px;
  position: absolute;
  margin-left: 250px;
  margin-top: -20px;
}

.pageIndex{
  margin: 10px 10px;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  padding: 0px 5px;
}
.pageIndex ul li {
  display: inline;
  padding: 2px;
}
.categoriesContainer{
  margin-left: 10px;
  grid-area: categoriesContainer;
}
.listCategories a{
  text-decoration: none;

}
ul{
  list-style: none;
}
.paginador{
  grid-area: paginador;
  margin-left: 39%;
  margin-top: 10px;
  margin-bottom: 10px;


}

.paginador a{
  color: #08FF0D;
}
.mapShow{
  display: block;
}



