/* *{
    border: 1px solid black;
} */

@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.mainContainer {
    grid-area: mainContainer;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.productsContainer{ 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 90%;
}

.pageIndex{
    height: 10%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    padding: 0px 5px;
}
.pageIndex ul li{
    display: inline;
    padding: 2px;
}
.pageIndex ul li a{
    font-size: small;
}
.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75); 
  padding: 10px;
  text-align: center;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #707070;
}
.logo{
    display: flex;
}

.logo img{
    height: 50px ;
}
.logoFooter{
  height: 50PX;
}

#Buscador {
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
}

article img{
    height: 290px;
    width: 300px;
    background-size: cover;
    background-position: center center;
}

article{
    height: 290px;
    width: 300px;
}
.categoriesContainer {
  grid-area: categoriesContainer;
  background-color: #ffffff;
  display: flex;
  text-align: start;
}
a{
    text-decoration: none;
    color: #28FF0D;
}
ul{
    list-style: none;
}





.footer {
    color: #28FF0D;
  grid-area: footer;
  background-color: #707070;
}

.grid-container {
  display: grid;
  grid-template:
    "header"  100px
    "categoriesContainer"  0px
    "mainContainer"    auto
    "footer"  50px;
}


@media screen and (min-width: 901px) {
    .grid-container {
        grid-template:
          "header  header header"  70px
          "categoriesContainer  mainContainer   mainContainer" auto
          "footer  footer footer"  70px /
          200px    auto   200px;
      }
    
    
  }

@media screen and (max-width: 900px) and (min-width: 751px) {
    .grid-container {
        grid-template:
          "header  header" 100px
          "categoriesContainer  mainContainer" auto
          "footer  footer" 50px /
          200px    auto;
      }
}



@media screen and (max-width: 750px) {
    .grid-container {
      grid-template:
        "header  header" 10px
        "categoriesContainer  mainContainer   mainContainer" auto
        "footer  footer" 10px /
        200px    auto;
    }
  }
