*{
  max-height: 71px;
  max-width: 428px;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #707070;
  margin-top: -8px;

}

.logo{
  display: flex;
}

.logo img{
  height: 60px ;
  margin-left: 50%;
  margin-top: 23%;
  transform: translate(-50%, -50%);
}
.imagenHamburguesa{
  position: absolute;
  margin-left: -350px;
}
.imagenUsuario{
  position: absolute;
  margin-left: -260px;
}

.imagenBuscador{
  position: absolute;
  margin-left :350px;
}
.imagenCarrito{
  position: absolute;
  margin-left :260px;
}