.productoDetails{
    border-radius: 20px ;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-bottom: 1vh;
    
    gap: 15px;
    max-width: 100%;
    border: solid 1px #08FF00;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.productoDetails img{
    max-width: 80%;
}

.productoDetails h2{
    font-size: 2.5vh;
    word-break: break-all;
    text-align: center;
    margin: 2vh ;
    padding-bottom: 2vh;
    border-bottom: solid 1px #08FF00;
}
.productImageDetail{
    display: block;
}
.productImageDetail h3{
    position: relative;
    margin-left: 10px;
    padding-left: 10px;
    background-color: #08FF00;
    max-width: 10vh;
    border-radius: 11vh;
}
.productContainer {
    grid-area: mainContainer;
    background-color: #ffffff;
    cursor: pointer;
    width: 100%;
    display: flex;
  }
  .details{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

  }
  .btnComprar{
    bottom: 0px;
    position: relative;
    vertical-align: text-bottom;
    align-items: center;
    background-color: #28FF0D;
    width: 80%;
    border-radius: 110px;
    padding: 10px 20px;
    white-space: nowrap;
    font-size: 1em;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
  .btnAdd{
    bottom: 0px;
    position: relative;
    vertical-align: text-bottom;
    align-items: center;
    background-color: #a9afa8;
    width: 100%;
    border-radius: 110px;
    padding: 10px 20px;
    white-space: nowrap;
    font-size: 1em;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
  .Description{
    margin: 1vh 1vh 1vh 1vh;
  }
  .icono{
    max-width: 20px;
  }
  .datosUtiles{
    display: flex;
    flex-direction: row;
  }